<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid px-2 ps-4">
    <a class="navbar-brand large-screen" href="#" id="navbarBrand">
      <img src="https://th.bing.com/th/id/OIP.hlp5zT8aZ_QxT1gVnib_wAHaHa?w=176&h=180&c=7&r=0&o=5&pid=1.7" alt="Icon" width="60" height="60" class="d-inline-block align-text-top me-1">
      Organic Nano electronics Group
    </a>
    <a class="navbar-brand small-screen" href="#" id="navbarBrandSmall">
      <img src="https://th.bing.com/th/id/OIP.hlp5zT8aZ_QxT1gVnib_wAHaHa?w=176&h=180&c=7&r=0&o=5&pid=1.7" alt="Icon" width="60" height="60" class="d-inline-block align-text-top me-1">
      ONe Group
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-0 ms-auto ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPeople" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            People
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownPeople">
            <li><a class="dropdown-item" href="/people/mentor">Mentor</a></li>
            <li><a class="dropdown-item" href="/people/coregroup">Core Group</a></li>
            <li><a class="dropdown-item" href="/people/alumni">Alumni</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/research">Research</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/publications" tabindex="-1" aria-disabled="true">Publications</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMore" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMore">
            <li><a class="dropdown-item" href="/media">Media</a></li>
            <li><a class="dropdown-item" href="/gallery">Gallery</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div>
  <router-outlet></router-outlet>
</div>


<footer class="w-100 p-4" style="border-top: 1px solid rgb(205, 14, 27); background-color: rgb(210, 219, 202);">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 mb-3 mb-md-0 text-md-end">
        <iframe class="auto-map-width" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.3226537254445!2d77.56683277513507!3d13.015113487304353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17d3bea64f8b%3A0x7b02a5cde160c0c0!2sDepartment%20Of%20Materials%20Engineering!5e0!3m2!1sen!2sin!4v1717580589842!5m2!1sen!2sin" style="border:0;" allowfullscreen=""></iframe>
      </div>
      <div class="col-sm-12 col-md-6 mt-3">
        <span><b>Address:</b><br>E-311, Department of Materials Engineering,<br>Indian Institute of Science (IISc) - Bengaluru,<br> Karnataka, India – 560012</span>
      </div>
    </div>
  </div>
</footer>
