<div class="container-fluid p-md-5 pt-5">
  <div class="row">
    <!-- Carousel section -->
    <div class="col-md-8 mb-4 mb-md-0 me-5">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button *ngFor="let slide of slides; let i = index"
                  type="button"
                  [attr.data-bs-target]="'#carouselExample'"
                  [attr.data-bs-slide-to]="i"
                  [class.active]="i === 0"
                  [attr.aria-label]="'Slide ' + (i + 1)"
                  [attr.aria-current]="i === 0 ? 'true' : null">
          </button>
        </div>
        <div class="carousel-inner">
          <div *ngFor="let slide of slides; let i = index" class="carousel-item" [class.active]="i === 0">
            <img [src]="slide" class="d-block w-100 carousel-img-fit" [alt]="'Slide ' + (i + 1)">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>


    <!-- Sponsors section -->
    <div class="col-md-3">
      <div class="card">
        <div class="card-header text-center text-white"style="background-color: #005058"><h4>Sponsors</h4></div>
        <div class="card-body">
          <div class="row">
            <div *ngFor="let sponsor of sponsorsLogo" class="col-4">
              <img [src]="sponsor.imgSrc" class="img-fluid p-1" alt="{{sponsor.name}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
