<div class="container mt-5">
  <ul class="nav nav-tabs col-md-10">
    <li class="nav-item" *ngFor="let tab of publicationTypes" (click)="switchTab(tab)">
      <a class="nav-link" [class.active]="currentTab === tab">
        {{ tab === 'bookChapter' ? 'Book Chapter' : tab | titlecase }}
      </a>
    </li>
  </ul>
  <div class="tab-content mt-3">
    <div *ngIf="currentPublications.length > 0" class="row">
      <div class="col-md-10">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>{{ tableHeaderText() }} ({{currentPublications.length}})</th>
              <th class="text-right">Year</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let publication of currentPublications">
              <tr>
                <td>
                  <a *ngIf="publication.link" [href]="publication.link" target="_blank" class="link-primary">{{ publication.title }}</a>
                  <span *ngIf="!publication.link">{{ publication.title }}</span>
                  <p>{{ publication.authors }}</p>
                  <p><i>{{ publication.publisherName }} ({{ publication.year }})</i></p>
                </td>
                <td class="text-right align-top">{{ publication.year }}</td>
              </tr>
              <tr class="border-0"><td colspan="2"><hr class="m-0"></td></tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="currentPublications.length === 0" class="alert alert-info">
      No publications found for this category.
    </div>
  </div>
</div>
