<div class="container mt-5">
  <ul class="nav nav-tabs">
    <li class="nav-item" *ngFor="let tab of publicationTypes" (click)="switchTab(tab)">
      <a class="nav-link" [class.active]="currentTab === tab">{{ tab | titlecase }}</a>
    </li>
  </ul>

  <div class="tab-content mt-3">
    <div *ngIf="currentPublications.length > 0" class="row">
      <div class="col-md-10">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>{{ tableHeaderText() }}</th>
              <th class="text-right">Year</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let publication of currentPublications">
              <td>
                <a *ngIf="publication.link" [href]="publication.link" target="_blank" class="link-primary">{{ publication.title }}</a>
                <span *ngIf="!publication.link">{{ publication.title }}</span>
                <p>{{ publication.authors }}</p>
                <p><i>{{ publication.publisherName }}</i></p>
              </td>
              <td class="text-right align-top">{{ publication.year }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="currentPublications.length === 0" class="alert alert-info">
      No publications found for this category.
    </div>
  </div>
</div>
