.table-borderless th,
.table-borderless td {
  border: none;
}

.table a {
  text-decoration: none;
}

.table a:hover {
  text-decoration: underline;
}

a, span{
  font-size: large;
}

.nav-link{
  color: #005058;
}
